
<div class="container">
  <div class="row">
      <%= form_for @bike, :html => { :multipart => true } do |f| %>
        <div class="col-xs-4">
        <%= f.label :title %>
        <%= f.text_field :title %>
        </div>
         <div class="vertical-spacer"></div>
        <div class="col-xs-4">
        <%= f.label :description %>
        <%= f.text_field :description %>
        </div>
        <div class="col-xs-4">
        <%= f.label :brand %>
        <%= f.text_field :brand %>
        </div>
        <div class="col-xs-4">
        <%= f.label :price %>
        <%= f.text_field :price %>
        </div>
        <div class="col-xs-4" id="autocomplete" placeholder="Enter your address" onfocus="geolocate()" type="text" autocomplete="off" >
        <%= f.label :localisation %>
        <%= f.text_field :localisation %>
        </div>
        <div class="col-xs-4">
        <%= f.label :category %>
        <%= f.select :category, "Fixie"=>"Fixie", "ATV"=>"ATV", "City bike"=>"City bike" %>
        </div>
        <div class="col-xs-4">
        <%= f.label :condition %>
        <%= f.select :condition, "Brand new"=>"Brand new", "Fairly used" => "Fairly used", "Very used"=>"Very used" %>
        </div>
        <div class="col-xs-4">
        <%= f.label :size %>
        <%= f.select :size, "XS"=>"XS", "S"=>"S", "M"=>"M", "L"=>"L", "XL"=>"XL" %>
        </div>
        <div class="col-xs-4">
        <%= f.file_field :photo_bike %>
        <%= f.submit %>
        </div>
      <% end %>
  </div>
</div>











