<%= render partial: "./navbar" %>
<h1>Nos Vélos</h1>

<%= flash[:notice]%>

<%= link_to 'New Bike', new_bike_path, class: 'btn btn-primary' %>

<% @bikes.each do |t| %>
  <h2><%= link_to t.title, bike_path(t.id) %></h2>
  <h5>Price: <%= t.price %></h5>
  <h5>Description: <%= t.description %></h5>
  <h5>Localisation: <%= t.localisation %></h5>
  <%= image_tag t.photo_bike.url(:thumb) %>

  <%= link_to 'Delete', bike_path(t.id), method: :delete %>
<% end %>