<%= render partial: "./navbar" %>
<%= flash[:notice]%>

<div class="titre">
  <h1>Nos Vélos</h1>
  <%= link_to 'New Bike', new_bike_path, class: 'btn btn-primary' %>
</div>

<div class="bike">
  <table class="table table-striped">
    <thead>
      <td></td>
      <td>Title</td>
      <td>Price</td>
      <td>Description</td>
      <td>Localisation</td>
    </thead>
    <tbody>
    <% @bikes.each do |t| %>
    <tr>
      <td><%= image_tag t.photo_bike.url(:thumb) %></td>
      <td><%= t.title%></td>
      <td><%= t.price %> €</td>
      <td><%= t.description %></td>
      <td><%= t.localisation %></td>
      <td><%= link_to 'Show', bike_path(t.id) %></td>
      <% if current_user.id == t.id %>
        <td><%= link_to 'Edit', edit_bike_path(t.id) %></td>
        <td><%= link_to 'Delete', bike_path(t.id), method: :delete %></td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

