<h2><%= @bike.title%></h2>
<h5>Price: <%= @bike.price %></h5>
<h5>Description: <%= @bike.description %></h5>
<h5>Localisation: <%= @bike.localisation %></h5>

<h5>Brand: <%= @bike.brand %></h5>
<h5>Category: <%= @bike.category %></h5>
<h5>Condition: <%= @bike.condition %></h5>
<h5>Size: <%= @bike.size %></h5>
<%= link_to 'Edit', edit_bike_path(@bike.id) %>